nav{
    position:fixed;
    top:0;
    left:0;
    z-index: 100000 !important;
    margin:0;
}
#list-filter{
    
    background: #fff;
    position: relative;
    float:left;
    box-shadow: 1px 1px 10px #373737;
}
#list-filter li{
    display: inline-block;
    border-right: 2px solid #323232;
    padding: 0 2% 0 1%;
}
#list-filter li:last-child{
    padding-right:0;
    border: none;
}
nav img{
    float:right;
}
#menu{
    margin-left:48%;
    width: 50%;
    overflow: hidden;
}
#menu:hover{
    display: block;
}
#menu li{
    background: #c0392b;
    width: 100%;
}

#map {
    height: 100vh;
    width:100%;
}

@media only screen and (max-width: 640px) {
    #map{
        width:100%;
    }
}

/* This is the style for the info window */
.info-window{
    background: #fff;
    color: #323232;
    z-index:100 !important;
    position:absolute;
    width:90%;
    height:60vh;
    bottom:12%;
    padding: 1% 5%;
    box-shadow: 2px 2px 10px #323232;
}
.info-window h3{
    text-align: center;
    font-size: 1em;
    background: #c0392b;
    color:#fff;
    width:100%;
    padding: 3% 0;
    margin:1% 0 0;
    font-family: 'Open Sans', sans-serif;
}
.info-window button{
    background: #c0392b;
    color:#fff;
    width:37px;
    
    border: none;
}
.info-window p{
    font-family: 'Open Sans', sans-serif;
    font-size: .75em;
    text-align: center;
}
#search-bar{
    position: absolute;
    height:10%;
    width: 100%;
    background: #fff;
    bottom:0;
    left:0;
    z-index:101;
}

/* Lists */
ul,
ol{
    list-style: none;
}

/*Clear*/
.cf{
    clear: both;
}