nav{
    position: fixed;
    z-index: 100000 !important;
    right: 2%;
    top: 2%;
}
#map {
    height: 100vh;
    width:100%;
}
#menu{
    background:#7f8c8d;
    width:20%;
    height:100vh;
    display: none;
    z-index: 100000 !important;
}
#menu:hover{
    display: block;
}
@media only screen and (max-width: 640px) {
    nav img{
        width: 37px;
    }
    #map{
        width:100%;
    }
    aside {
        visibility:hidden;
        width:0%;
    }
}

/* This is the style for the info window */
.info-window{
    background: #fff;
    color: #323232;
    z-index:100 !important;
    position:absolute;
    width:90%;
    height:60vh;
    bottom:12%;
    padding: 1% 5%;
    box-shadow: 2px 2px 10px #323232;
}
.info-window h3{
    text-align: center;
    font-size: 1em;
    background: #c0392b;
    color:#fff;
    width:100%;
    padding: 3% 0;
    margin:1% 0 0;
    font-family: 'Open Sans', sans-serif;
}
.info-window button{
    background: #c0392b;
    color:#fff;
    width:37px;
    
    border: none;
}
.info-window p{
    font-family: 'Open Sans', sans-serif;
    font-size: .75em;
    text-align: center;
}
#search-bar{
    position: absolute;
    height:10%;
    width: 100%;
    background: #fff;
    bottom:0;
    left:0;
    z-index:101;
}