/* Map */

#map {
    height: 100vh;
}


/* Navigation Styles */

#nav-bar {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 9vh;
    width: auto;
    background: #ecf0f1;
    box-shadow: 2px 2px 5px #323232;
    z-index: 2;
}

#nav-bar img {
    width:40px;
    display: block;
    padding: 2vh;
}

#search-box {
    position: absolute;
    top: 3vh;
    left: 10vh;
}

#menu-bar {
    -webkit-transform: translateX(-30vw);
    transform: translateX(-30vw);
    box-shadow: 2px 3px 5px #323232;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.menu {
    margin: 0;
    -webkit-transform: translateX(-20vw);
    transform: translateX(-20vw);
    -webkit-transition: all 750ms ease-in-out;
    -webkit-transition: -webkit-all 750ms ease-in-out;
    transition: -webkit-all 750ms ease-in-out;
    transition: all 750ms ease-in-out;
    transition: all 750ms ease-in-out, -webkit-all 750ms ease-in-out;
}

.menu-item {
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 5px 0;
    background: #c0392b;
    border-bottom: solid 1px #fff;
    overflow-y: scroll;
    z-index: 10;
}

.menu-item:last-child {
    border-bottom: none;
}

@media only screen and (max-width:640px) {
    #nav-bar {
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        height: 10vh;
        width: 100vw;
        background: #ecf0f1;
        z-index: 2;
    }
    #nav-bar img {
        display: block;
        padding: 2vh 0 0 85vw;
    }
    #search-box {
        position: absolute;
        top: 3vh;
        left: 5%;
    }
    #menu-bar {
        -webkit-transform: translateX(100vw);
        transform: translateX(100vw);
    }
    .menu {
        margin: 0;
        -webkit-transform: translateX(100vw);
        transform: translateX(100vw);
        -webkit-transition: transform 750ms ease-in-out;
        -webkit-transition: -webkit-transform 750ms ease-in-out;
        transition: -webkit-transform 750ms ease-in-out;
        transition: transform 750ms ease-in-out;
        transition: transform 750ms ease-in-out, -webkit-transform 750ms ease-in-out;
    }
    .menu-item {
        text-align: center;
        color: #fff;
        padding: 3px 0;
        background: #c0392b;
        border-bottom: solid 1px #fff;
    }
    .menu-item:last-child {
        border-bottom: none;
    }
}


/* Info Window Styles*/

#info-section {
    position: relative;
}

.info-window {
    font-family: 'Open Sans', sans-serif;
    background: #ecf0f1;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: scroll;
    width: 45vh;
    height: 100vh;
    box-shadow: -2px 0 5px #323232;
    padding-top: 10px;
}
.category{
    font-size: .75em;
    padding:0;
}
.info-window h3 {
    text-align: center;
    font-size: 1em;
    background: #c0392b;
    color: #fff;
    max-width: 100%;
    padding: 3% 1%;
    margin-top: 1%;
    font-family: 'Open Sans', sans-serif;
}

.wiki-articles {
    text-align: center;
    padding: 5% 0 7% 0;
}

.info-window button {
    background: #c0392b;
    color: #fff;
    border: none;
    margin: 5px;
    padding 1% 0;
}

.close-button {
    width: 37px;
    margin-right: 2%;
}

.more-button {
    width: 50px;
    display: none;
}

.info-window p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-align: center;
    padding: 0 5%;
}

#article-images img {
    width: 100px;
    padding: 7% ;
}

@media only screen and (max-width:580px) {
    #info-section {
        position: relative;
    }
    .info-window {
        background: #fff;
        color: #323232;
        position: fixed;
        top: 90vh;
        width: 100%;
        height: 11vh;
        -webkit-transition: height 300ms ease-in-out;
        transition: height 300ms ease-in-out;
    }
    .info-window h3 {
        text-align: center;
        font-size: 1em;
        background: #c0392b;
        color: #fff;
        max-width: 100%;
        padding: 3% 5%;
        margin-top: 1%;
        font-family: 'Open Sans', sans-serif;
    }
    .info-window button {
        background: #c0392b;
        color: #fff;
        border: none;
    }
    .close-button {
        width: 37px;
        margin-right: 2%;
    }
    .more-button {
        width: 50px;
        display: inline-block;
    }
    .info-window p {
        font-size: .75em;
        text-align: center;
        padding:0;
    }
    #article-images img {
        padding: 7% 10%;
    }
}


/* Misc Styles*/

ul,
li {
    list-style: none;
}

a {
    color: #c0392b;
}